h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

:root {
  --primary-font: 'Gabriela', serif;
  --secondary-font: 'Playfair Display', serif;
  --primary-color: #222661;
  --secondary-color: #020641;
  --active-color: #159415;
  --button-color: #6c76e7;
  --button-active-color: #5d92d6;
  --black-color: #000;
  --white-color: #fff;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ШАПКА САЙТА */
.header {
  display: flex;
  align-items: center;
  padding-bottom: 72px;
}

.nav {
  margin-left: 80px;
}

.nav .item {
  display: flex;
}

.address {
  margin-left: auto;
}

.item .link {
  display: block;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
}

.list .link:hover,
.list .link:focus {
  color: var(--active-color);
}

.item .list:not(:last-child) {
  margin-right: 40px;
}

.address .link {
  font-style: normal;
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address .link:not(:last-child) {
  margin-right: 20px;
}

.address .link:hover,
.address .link:focus {
  color: var(--active-color);
}

/* ПРО МЕНЯ */

.about-me {
    margin-bottom: 60px;
}

/* КАТАЛОГ */

.section {
    margin-bottom: 60px;
}

.main-menu,
.main-text {
  display: block;
  text-align: center;
  font-family: var(--secondary-font);
}

.main-text {
  margin-bottom: 40px;
}

.cake {
  display: flex;
  flex-wrap: wrap;
}

.cake .list {
  background: #ffffff;
  flex-basis: calc((100% - 2 * 24px) / 3);
  margin-bottom: 48px;
  margin-right: 24px;
}

.list .item {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-right: 1px solid rgb(46 47 66 / 8%);
  border-left: 1px solid rgb(46 47 66 / 8%);
  border-bottom: 1px solid rgb(46 47 66 / 8%);
}

.cake .list:nth-child(3n) {
  margin-right: 0;
}

.cake .list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

/* ПОДВАЛ */

.footer {
    display: flex;
}
.container .text {
    display: flex;
    align-items: center;