a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.cake h3,
.bento-cake h3 {
    color: red;
}

#pie, #bento {
    color: blueviolet;
}

h2 {
    color: crimson;
}

p {
    color: rgb(3, 65, 28);
}